.employee_table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
}

.employee_table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

.employee_table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

.employee_table tr:nth-child(even) {
    background-color: #ffff;
}

.employee_table th,
.employee_table td {
    padding: .625em;
    text-align: center;
    word-wrap: break-word
}

.employee_table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
    background-color: #74D680;
    color: #111;
}






@media screen and (max-width: 800px) {
    .employee_table {
        border: 0;
    }

    .employee_table caption {
        font-size: 1.3em;
    }

    .employee_table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .employee_table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }



    .employee_table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    .employee_table td::before {
        /*
      * aria-label has no advantage, it won't be read inside a .employee_table 
      content: attr(aria-label);
      */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    .employee_table td:last-child {
        border-bottom: 0;
    }
}